mixin imagePNG(name)
  img.src(src=require(`./assets/${name}.png`) alt=name)

mixin imageJPG(name)
  img.src(src=require(`./assets/${name}.jpg`) alt=name)

mixin imageSVG(name)
  img.src(src=require(`./assets/${name}.svg`) alt=name)