mixin p(className, content)
    p(class=className)=content
    
mixin h1(className, content)
    h1(class=className)=content

mixin title(className, content, lastContent)
    h1(class=className)=content
        p =lastContent
    
mixin h2(className, content)
    h2(class=className)=content
    
mixin h3(className, content)
    h3(class=className)=content
    

//- p, h1, h2, h3, h1.main